.App {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    rgb(251, 248, 117),
    rgb(246, 167, 110),
    rgb(240, 85, 102) 99%
  );
}

.formStyle {
  width: 25%;
  margin: 30px auto;
}

.form-group {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}

.cardList {
  display: flex;
}

.card {
  margin: 15px;
  animation: fadeIn 3s;
  box-shadow: 5px 10px 18px #888888;
}

.card-body {
  display: flex;
  flex-direction: row;
}

.displayRows {
  margin: 10px;
  text-align: left;
}

.btn {
  margin-top: 10px;
}

.alert {
  width: 30%;
  margin: 30px auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
